# Default ignored files
/shelf/
/.idea/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\Java\project\stduyproject\mall\.idea/dataSources/
/dataSources.local.xml
# 基于编辑器的 HTTP 客户端请求
/httpRequests/
/.idea/codeStyles/codeStyleConfig.xml
/.idea/mall.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/codeStyles/Project.xml
/.idea/vcs.xml
/.idea/
/.idea
/.idea/codeStyles/
/.idea/libraries/
/.idea/compiler.xml
/.idea/encodings.xml
/.idea/jarRepositories.xml
/.idea/mall.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/.idea/workspace.xml
/mall-ware/target/
/mall-sys/target/
/mall-product/target/
/mall-party/target/
/mall-order/target/
/mall-common/target/
/mall-coupon/target/
/mall-gateway/target/
/mall-member/target/
mall-common/target/classes/ValidationMessages.properties
mall-common/target/classes/com/like/mall/common/valid/
mall-common/target/generated-sources/
mall-common/target/generated-test-sources/
mall-coupon/src/main/resources/static/
mall-coupon/src/main/resources/templates/
mall-coupon/target/generated-sources/
mall-coupon/target/generated-test-sources/
mall-gateway/target/classes/com/like/gateway/config/
mall-gateway/target/generated-sources/
mall-member/src/main/resources/static/
mall-member/src/main/resources/templates/
mall-member/target/generated-sources/
mall-member/target/generated-test-sources/
mall-order/src/main/resources/static/
mall-order/src/main/resources/templates/
mall-order/target/classes/application.properties
mall-order/target/classes/bootstrap.properties
mall-order/target/classes/com/like/mall/order/dao/
mall-order/target/classes/mapper/
mall-order/target/classes/src/
mall-order/target/generated-sources/
mall-order/target/generated-test-sources/
mall-order/target/test-classes/
mall-party/.gitignore
mall-party/src/main/resources/static/
mall-party/src/main/resources/templates/
mall-party/src/test/
mall-product/src/main/java/com/like/mall/product/until/
mall-product/src/main/resources/static/
mall-product/src/main/resources/templates/
mall-product/target/classes/com/like/mall/product/config/
mall-product/target/classes/com/like/mall/product/entity/CategoryBrandRelationEntity$CategoryBrandRelationEntityBuilder.class
mall-product/target/classes/com/like/mall/product/exception/
mall-product/target/generated-sources/
mall-product/target/generated-test-sources/
mall-sys-vue/yarn.lock
mall-sys/src/test/java/com/
mall-ware/src/main/resources/static/
mall-ware/src/main/resources/templates/
